@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* eka */
nav {
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  background-color: rgb(248, 241, 231);
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding: 30px 45px;
  margin-top: 20px;
}
nav ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 15px;
  color: rgb(114, 89, 60);
}
nav ul li a:hover {
  border-bottom: 2px solid black;
  color: black;
}
nav .logo {
  margin-top: 10px;
  margin-left: 5%;
}
nav .logo img {
  width: 130px;
}
header .living {
  padding: 14px;
  background-color: rgb(221, 174, 112);
  text-align: center;
}
header .living i {
  letter-spacing: 5px;
  font-size: 20px;
  color: white;
}
header .welcome {
  display: flex;
}
header .welcome .kr {
  width: 30%;
  margin: 100px;
}
header .welcome h1 {
  font-size: 50px;
}
header .welcome p {
  margin-top: 50px;
  font-size: 14px;
  color: black;
}
.welcome a {
  margin-top: 20px;
  color: black;
}
header .welcome .kn {
  width: 65%;
}
header .welcome .kn img {
  width: 100%;
}

/* riski */
