@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Jost:wght@500&family=Montserrat:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Caudex', serif;
  font-family: 'Jost', sans-serif;
  font-family: 'Montserrat', sans-serif; */
}
:root {
  --var-bg-color: #d1a961;
  --var-text-color: #000;
  --var-text-white-color: #ece6de;
  --var-font-caudex: "Caudex", serif;
  --var-font-jost: "Jost", sans-serif;
  --var-font-mont: "Montserrat", sans-serif;
}

body {
  background-color: #f9f3ec;
}
nav {
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding: 30px 45px;
  margin-top: 20px;
}
nav ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  /* padding: 5px; */
  font-size: 15px;
  color: rgb(114, 89, 60);
}
nav ul li a:hover {
  border-bottom: 2px solid black;
  color: black;
}
nav .logo {
  margin-top: 10px;
  margin-left: 5%;
}
nav .logo img {
  width: 130px;
}
header {
  overflow: hidden;
}
header .living {
  padding: 14px;
  background-color: #d1a961;
  text-align: center;
  font-family: "Caudex", serif;
}
header .living i {
  letter-spacing: 5px;
  font-size: 25px;
  color: white;
}
header .welcome {
  display: flex;
}
header .welcome .kr {
  width: 40%;
  margin-top: 183px;
  margin-left: 70px;
  padding-right: 100px;
}
header .welcome h1 {
  font-size: 50px;
  font-family: "Jost", sans-serif;
}
header .welcome p {
  margin-top: 25px;
  font-size: 13px;
  color: black;
}
header .welcome p b i {
  font-family: "Caudex", serif;
}
header .welcome p b {
  font-family: "Montserrat", sans-serif;
}
.welcome .kr .link {
  margin-top: -10px;
}
.welcome .kr a {
  color: black;
  font-size: 13px;
  font-family: "Caudex", serif;
}
header .welcome .kn {
  width: 70%;
  margin: 30px;
}
header .welcome .kn img {
  width: 100%;
}
.care {
  width: 100%;
}
.care .images img {
  width: 100%;
  margin-top: 0px;
}
.care .title {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  background-image: url("../img/artpages2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.care h1 {
  padding: 200px;
  background-color: rgba(0, 0, 0, 0.322);
  text-align: center;
  font-size: 50px;
  font-family: "Jost", sans-serif;
  letter-spacing: 15px;
  color: rgb(255, 255, 255);
}

/* bagian ========= */
main {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
.box-name-ingredients {
  width: 100%;
  height: 15vh;
  background-color: var(--var-bg-color);
  /* border-top: 5px solid var(--var-bg-color);
  border-bottom: 5px solid var(--var-bg-color); */
}
.box-name-ingredients .box-name-title {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--var-text-white-color);
}
.box-name-title h1 {
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 10px;
  font-family: var(--var-font-caudex);
  margin: 0 3rem;
}
.box-name-title span {
  display: block;
  margin-top: -0.3rem;
  width: 8px;
  height: 8px;
  background-color: var(--var-text-white-color);
  border-radius: 50%;
}
main > section {
  width: 90%;
  height: 100%;
  margin: auto;
}
/* box favorites */
.box-favorites {
  width: 100%;
  height: 100vh;
  margin-bottom: 3rem;
}
.box-favorites .box-fav-name {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.box-favorites .box-fav-name h1 {
  font-size: 60px;
  font-weight: bolder;
  font-family: var(--var-font-jost);
  color: var(--var-bg-color);
}
.box-favorites .box-fav-image {
  width: 90%;
  margin: auto;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.box-favorites .box-fav-image p {
  font-family: "Caudex", serif;
}
.box-favorites .box-fav-image h1 {
  font-family: "Montserrat", sans-serif;
}
.box-fav-image .box-fav-image-all {
  margin: 0 1rem;
}
.box-fav-image .box-fav-image-all img {
  width: 330px;
  border-radius: 2px;
  height: 330px;
}
.box-fav-image .box-fav-image-all {
  width: 100%;
  height: 70%;
  margin-bottom: 8rem;
}
.box-fav-image-all .box-fav-text-all {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.box-fav-text-all h1 {
  font-size: 24px;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar:hover {
  width: 14px;
}
::-webkit-scrollbar-track {
  background-color: #d1a961;
}
::-webkit-scrollbar-thumb {
  background-color: #d1a961;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 0 10px 0 black;
}
.box-fav-text-all h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.back-to-top {
  z-index: 9999;
  position: fixed;
  top: 90%;
  font-size: 2.5rem;
  right: 0.5rem;
}
.box-fav-text-all p {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  width: 70%;
  font-family: var(--var-font-mont);
}
.back-to-top a {
  color: var(--var-bg-color);
}
.back-to-top a:hover {
  color: var(--var-text-white-color);
}
/* box favour our menu */
.box-view-our-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--var-bg-color);
  width: 95%;
  margin: auto;
  height: 20vh;
  box-shadow: 20px 20px var(--var-bg-color);
  border: 1px solid var(--var-bg-color);
}
.box-view-our-menu h1 {
  font-size: 52px;
  font-family: var(--var-font-caudex);
}

/* footer */
footer {
  font-family: var(--var-font-mont);
  position: relative;
  width: 100%;
  height: 70vh; /*semmentara */
  margin-top: 8rem;
  background-color: var(--var-bg-color);
}
footer .line-footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer span {
  display: inline-block;
  width: 100%;
  margin: 1.1rem 0;
  height: 1.8%;
  opacity: 0.08;
  background-color: var(--var-text-white-color);
}
footer > section {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  z-index: 9999;
}
.footer-box-text1 {
  flex: 0 0 40%;
}
.footer-box-text1 h1 {
  color: var(--var-text-white-color);
  font-size: 56px;
}
.footer-box-text2 {
  text-align: center;
  flex: 0 0 20%;
  margin-right: 6rem;
  color: var(--var-text-white-color);
}
.footer-box-text2 h1::after,
.footer-box-text3 h1::after {
  content: "";
  display: block;
  width: 70%;
  margin: auto;
  height: 1px;
  background-color: var(--var-text-white-color);
}
.footer-box-text1 p,
.footer-box-text2 p,
.footer-box-text3 p {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 100;
}
.footer-box-text3 {
  text-align: center;
  flex: 0 0 20%;
  color: var(--var-text-white-color);
}
.footer-icon-sosmed {
  position: absolute;
  bottom: 2rem;
  left: 45%;
}
.footer-icon-sosmed .fab {
  font-size: 35px;
  color: #fff;
  margin: 0 0.5rem;
}

@media only screen and (max-width: 992px) {
  header .welcome h1 {
    font-size: 5vw;
    flex-basis: 10;
  }
  header .welcome .kn img {
    height: 100%;
    flex-shrink: 5;
  }
  nav ul li a {
    font-size: 1.5vw;
  }
  .box-name-title h1 {
    font-size: 20px;
    margin: 0 1vw;
  }
  .box-favorites .box-fav-name h1 {
    font-size: 6vw;
    flex-basis: 4;
    flex-shrink: 0;
  }
  .box-favorites .box-fav-image {
    flex-wrap: wrap;
  }
  .box-favorites {
    height: 100%;
  }
  .box-fav-image .box-fav-image-all {
    flex: 0 0 50%;
    margin: 0;
    flex-shrink: 0;
  }
  .box-fav-image .box-fav-image2 {
    margin-top: 1.5rem;
  }
  .footer-box-text1 h1 {
    font-size: 36px;
  }
  .footer-box-text1 p,
  .footer-box-text2 p,
  .footer-box-text3 p {
    font-size: 14px;
    flex-shrink: 0;
  }
  .footer-box-text2 {
    margin-right: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  nav ul li {
    padding: 10px 15px;
    flex-basis: 20;
  }
  nav .logo img {
    width: 90px;
  }
  header .welcome {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    flex-basis: 3;
  }
  header .welcome .kn {
    width: 100%;
  }
  header .welcome .kr {
    width: 100%;
    margin-top: 50px;
    flex-basis: 5;
  }
  .care .title {
    background-position: center;
  }
  .care h1 {
    font-size: 20px;
    padding: 30vw;
    flex-shrink: 0;
  }
  .box-name-title h1 {
    font-size: 1.8vw;
    margin: 0 1vw;
  }
  .box-name-title span {
    margin-top: 0rem;
    width: 4px;
    height: 4px;
  }
  .box-view-our-menu h1 {
    font-size: 32px;
  }
  .footer-box-text1 {
    flex: 0 0 100%;
    text-align: center;
    margin-top: 2rem;
  }
  .footer-box-text2 {
    text-align: center;
    flex: 0 0 30%;
    margin-right: 6rem;
  }
  .footer-box-text3 {
    text-align: center;
    flex: 0 0 30%;
    flex-shrink: 0;
  }
}
@media only screen and (max-width: 600px) {
  /* header {
    background-color: aqua;
  }
  /*  */
  /* nav .logo img {
    display: none;
  }
  nav ul li a {
    font-size: 8px;
  }
  nav ul li {
    margin: 3px;
    padding: 5px;
  } */
  /*
  nav {
    justify-content: center;
    padding: 0;
    /* background-color: black; */
  /* nav ul {
    justify-content: center;
    margin-left: 0px;
    padding: 0;
  }


  header .living i {
    letter-spacing: 5px;
    font-size: 18px;
  } */
  .box-fav-image .box-fav-image-all img {
    width: 250px;
    height: 250px;
  }
  .box-view-our-menu h1 {
    font-size: 26px;
    flex-basis: 2;
  }
  .footer-box-text2 {
    margin-top: 2rem;
    flex: 0 0 100%;
    margin: auto;
    flex-shrink: 0;
  }
  .footer-box-text3 {
    margin-top: 2rem;
    text-align: center;
    flex: 0 0 100%;
    margin-bottom: 5rem;
  }
  footer {
    height: 100%;
    flex-shrink: 0;
  }
  .footer-box-text1 {
    margin-bottom: 2rem;
  }
  .footer-icon-sosmed {
    bottom: 1rem;
    flex-shrink: 0;
    left: 40%;
    flex-basis: 4;
  }
}
